*{
    margin: 0;
}

header{
    background-color: rgb(93, 90, 90);
}

.site_icon {
    display: inline-block;
    margin: 30px;
    
}
.navig{
    display: block;
    position: absolute;
    right: 3%;
    margin-top: 1.5%;
    max-width: 50%;
    
    
}

ul{
    margin: revert;
    list-style: none; 
}



.navig a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
    padding: 13px;
}

.navig span{
    margin-left: 40px;
}
.navig a:hover {
    color: black;
    background-color: rgb(206, 203, 158);
    transition: color 0.5s, border-color 0.5s, background-color 1s;
}

.comp_name{
    font-size: 40px;
    position: absolute;
    top: 20px;
    left: 140px;
}
.comp{
    position: absolute;
    font-size: 24;
    top: 65px;
    left: 142px;
}

.aboutComp p{
    margin-left: 5%;
}

/*--------------------*/
.table-container {
    position: relative;
    margin: auto;
}

.checkbox-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px;
}


.selectB{
    position: absolute;
    top: 24px;
    right: 5%;

}
select {
    size: 10pc;
    max-width: 120px;
}
.search-form{
    margin-top: 3%;
    margin-left: 5%;
    
}

.form-container {
    width: 800px;
    margin: auto; 
    position: relative;
    border: 2px solid black; 
    background-color: beige;
}

.table-container table {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    border-collapse: collapse; 
    background-color: azure;
}

.table-container th,
.table-container td {
    border: 2px solid black;
    padding: 8px; 
    text-align: center;
    max-height: 110px;
    overflow: auto;
}

.table-container th{
    background-color: rgb(176, 176, 176);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination button {
    display: inline;
    padding: 5px 10px; 
    margin: 20px;
    border: 1px solid black; 
}
.pagination ul{
    text-align: center;
    list-style: none;
}

.pagination li{
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 1px 8px;
    margin-right: 5px;
    border: 1px solid black;
    background-color: rgb(176, 176, 176);
}

.pagination li:active{
    background-color: rgb(112, 112, 255);
}

/*------------------------------------------------*/

.table-container2 {
    position: relative;
    margin: auto;
}


.expirience {
    position: absolute;
    top: 24px;
    right: 5%;
    
}

.lan-checkbox{
    margin-top: 3%;   /*=====-==============================================*/
}

.lan-checkbox input{
    margin-left: 5%;
}

.form-container2 {
    width: 800px;
    margin: auto; 
    position: relative;
    border: 2px solid black; 
    background-color: beige;
}

.table-container2 table {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 350px;
    border-collapse: collapse; 
    background-color: azure;
}

.table-container2 th,
.table-container2 td {
    border: 2px solid black;
    padding: 8px; 
    text-align: center;
}
.table-container2 th{
    background-color: rgb(176, 176, 176);
}

.footer{
    background-color: rgb(41, 41, 41);
    height: 60px;
}

.container p{
    margin-top: 8px;
    margin-left: 50px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 1%;
}
.routs{
    margin-top: 5%;
    margin-bottom: 3%;
}

.zayavki{
    margin-top: 5%;
    margin-bottom: 3%;
}