*{
    margin: 0;
}

header{
    background-color: rgb(93, 90, 90);
}

.site_icon {
    display: inline-block;
    margin: 30px;
    
}
.navig{
    display: block;
    position: absolute;
    right: 3%;
    margin-top: 1.5%;
    max-width: 50%;
    
    
}

ul{
    margin: revert;
    list-style: none; 
}



.navig a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
    padding: 13px;
}

.navig span{
    margin-left: 40px;
}
.navig a:hover {
    color: black;
    background-color: rgb(206, 203, 158);
    transition: color 0.5s, border-color 0.5s, background-color 1s;
}

.comp_name{
    font-size: 40px;
    position: absolute;
    top: 20px;
    left: 140px;
}
.comp{
    position: absolute;
    font-size: 24;
    top: 65px;
    left: 142px;
}

.aboutComp1{
    background-color: rgb(245, 224, 198);
    margin: auto;
    width: 800px;
    border-radius: 10px;
}

.aboutComp1P{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
}

.aboutComp2 {
    
max-height: 400px;
max-width: 600px;
margin: auto;
margin-top: 10px;
background-color: rgb(250, 248, 233);
border-radius: 10px;
}

.aboutComp2 p{
    margin-left: 20%;
font-size: 36px;
}

.aboutComp2 span{
    margin-top: 20px;
font-size: 40px;
margin-left: 25px;
margin-bottom: 32px;

border-radius: 3px;
}



/*--------------------*/
.table-container {
    position: relative;
    margin: auto;
}

.checkbox-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px;
}


.selectB{
    position: absolute;
    top: 24px;
    right: 5%;

}
select {
    size: 10pc;
    max-width: 120px;
}
.search-form{
    margin-top: 3%;
    margin-left: 5%;
    
}

.form-container {
    width: 800px;
    margin: auto; 
    position: relative;
    border: 2px solid black; 
    background-color: beige;
}

.table-container table {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    border-collapse: collapse; 
    background-color: azure;
}

.table-container th,
.table-container td {
    border: 2px solid black;
    padding: 8px; 
    text-align: center;
    max-height: 110px;
    overflow: auto;
}

.table-container th{
    background-color: rgb(176, 176, 176);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination button {
    display: inline;
    padding: 5px 10px; 
    margin: 20px;
    border: 1px solid black; 
}
.pagination ul{
    text-align: center;
    list-style: none;
}

.pagination li{
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 1px 8px;
    margin-right: 5px;
    border: 1px solid black;
    background-color: rgb(176, 176, 176);
}

.pagination li:active{
    background-color: rgb(112, 112, 255);
}

/*------------------------------------------------*/

.table-container2 {
    position: relative;
    margin: auto;
}


.expirience {
    position: absolute;
    top: 24px;
    right: 5%;
    
}

.lan-checkbox{
    margin-top: 3%;   /*=====-==============================================*/
}

.lan-checkbox input{
    margin-left: 5%;
}

.form-container2 {
    width: 800px;
    margin: auto; 
    position: relative;
    border: 2px solid black; 
    background-color: beige;
    margin-top: 1.5%;
}

.table-container2 table {
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 3%;
    width: 90%;
    height: 50px;
    border-collapse: collapse; 
    background-color: azure;

}

.table-container2 th,
.table-container2 td {
    border: 2px solid black;
    padding: 8px; 
    text-align: center;
}
.table-container2 th{
    background-color: rgb(176, 176, 176);
}

.footer{
    background-color: rgb(41, 41, 41);
    height: 60px;
}

.container p{
    margin-top: 8px;
    margin-left: 50px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 1%;
}
.routs{
    margin-top: 5%;
    margin-bottom: 3%;
}

.zayavki{
    margin-top: 5%;
    margin-bottom: 3%;
}

.gidy{
    margin-top: 3%;
    margin-bottom: 3%;
}
/*------------------------------------------------------------*/
.modWin{

    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(77, 77, 240, 0.5);

}

.modalInside{
    max-width: 40%;
    max-height: 70%;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 25%;
    background-color: rgb(177, 215, 236);
    border: 2px rgb(72, 8, 8);
}

.close{
    border: 1px solid red;
    color: black;
    float: right;
    border-radius: 4px;

}

.close:hover{
    background-color: rgb(221, 106, 106);
}

.FIO{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 2%;
}

.rName{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 2%;
}

.Price{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 2%;
}


.modalInside div{
    margin-top: 20px;
    margin-left: 4%;
    margin-right: 15px;
    display: inline-block;
}

.tripDlit select{
    display: flex;
    margin: auto;
}

.humQuantity input{
 width: 40px;
}

.tripTime input{
    width: 80px;
}

.tripDate input{
    width: 80px;
}

.options{
    margin-top: 30px;
   text-align: center;
    font-size: 24px;
}

.opt1{
    margin-left: 25%;
    background-color: rgb(177, 255, 177);

}
.opt2{
    margin-left: 15%;
    background-color: rgb(177, 255, 177);
    
}

.translater{
    
   font-size: 18px;
   color: red;
   margin-top: 15px;
   margin-left: 5%;
}

.Zbutton{
    position: relative;
    margin-left: 90%;
}


